## Aula 7 - Storytelling e Correlação

### Regex

In [ ]:
import re

In [ ]:
# Encontrar todos os termos de uma string que são compostos por letras
# ou números
g = re.findall('[a-zA-Z0-9]+',  'ABCDE2 2Fab.(cdef1 23 450 345#aaa')
g

In [ ]:
result1 = re.search('^\w+',  'teste 1')
print(result1)

In [ ]:
result2 = re.search('^\w+',  '#teste 2')
print(result2)

In [ ]:
# Criar uma função pra testar se uma string atende a uma regex
def test_regex(s):
    pat = '^\w+'
    if re.search(pat, s):
        return True
    else:
        return False

test_regex('#teste 2')

In [ ]:
# Construa uma série com o conteúdo ['foo', 'fuz', np.nan] e faça um replace com regex
# usando a expressão regular 'f.' substituindo por 'ba'. Use o parâmetro regex=True
pd.Series(['foo', 'fuz', np.nan]).str.replace('f.', 'ba', regex=True)

In [ ]:
# Construa uma série com o conteúdo ['f.o', 'fuz', np.nan] e faça um replace sem regex
# da string 'f.' substituindo por 'ba'. Use o parâmetro regex=False.
pd.Series(['f.o', 'fuz', np.nan]).str.replace('f.', 'ba', regex=False)

In [ ]:
# Considere a seguinte função lambda
repl = lambda m: m.group(0)[::-1]
# Construa uma série com o conteúdo ['foo 123', 'bar baz', np.nan] e faça um replace com
# regex usando a expressão regular '[a-z]+' substituindo pela função lambda definida acima. 
# Use o parâmetro regex=True.
pd.Series(['foo 123', 'bar baz', np.nan]).str.replace('[a-z]+', repl)

In [55]:
path_gini = 'https://github.com/alexlopespereira/curso_ciencia_dados2020/raw/master/data/originais/gini/ginibr.csv'
df_gini = pd.read_csv(path_gini, sep=';', skiprows=2, skipfooter=2, encoding='utf8', engine='python', decimal=',', dtype={"1991": "str"})

In [56]:
df_gini.head()

                        Município    1991    2000    2010
0    110001 Alta Floresta D'Oeste  0.5983  0.5868  0.5893
1  110037 Alto Alegre dos Parecis     ...   0.508  0.5491
2             110040 Alto Paraíso     ...  0.6256  0.5417
3         110034 Alvorada D'Oeste   0.569  0.6534  0.5355
4                110002 Ariquemes  0.5827  0.5927  0.5496

In [57]:
# Perceba que as colunas 1991 e 2000 não tem o formato float
df_gini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5565 entries, 0 to 5564
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Município  5565 non-null   object
 1   1991       5565 non-null   object
 2   2000       5565 non-null   object
 3   2010       5565 non-null   float64
dtypes: float64(1), object(3)
memory usage: 174.0+ KB

In [60]:
result = df_gini['1991'].apply(lambda x: x if not re.search('[0-9]+(.|,)?[0-9]*', x) else np.nan)

In [61]:
result.unique()

array([nan, '...'], dtype=object)

In [ ]:
### Correlação com Pandas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
sns.set() # Ajusta valor padrão de tema, escala e paleta de cor
# Considere dataset de gorgetas a seguir
tips = sns.load_dataset("tips") 
# Mostre as primeiras linhas do dataframe tips
tips.head()

In [ ]:
# Calcule a correlação entre as variáveis do dataset tips
tips.corr()

In [ ]:
# Plote um mapa de calor (heatmap) da tabela de correlação das variáveis do dataset tips. 
# Use o argumento annot=True
sns.heatmap(tips.corr(), annot=True)

In [ ]:
# Trace um novo heatmap ajustando os valores do intervalo máximo, mínimo e o centro da escala de cores
# vmin=-1, vmax=1, center=0
sns.heatmap(tips.corr(), annot = True, vmin=-1, vmax=1, center=0)

In [ ]:
# Ajuste o color map para coolwarm usando o argumento cmpa='coolwarm'
sns.heatmap(tips.corr(), annot = True, vmin=-1, vmax=1, center=0, cmap='coolwarm')

### Tratamento de Exceções em Python

In [ ]:
a = 0 / 0
print("Passou aqui")

In [ ]:
for i in range(0, 5):
    try:
        a = 1000/i
        print("resultado: {0}".format(i))
    except ZeroDivisionError as e:
        print(e)
        print("deu erro. i={0}".format(i))
        pass
    except Exeption as e2:
        print("faz outra coisa")
        pass